{% extends "chatapp/base.html" %} {% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="chat-list-box">
          <div class="head-box">
            <ul class="list-inline text-left d-inline-block float-left">
              <li>
                <img
                  src="{{request.user.profile.pic.url}}"
                  alt="profile picture"
                  class="img-rounded "
                />
              </li>
            </ul>
            <ul
              class="flat-icon list-inline text-right d-inline-block float-right"
            >
              <li>
                <a href="#"> <i class="fas fa-search"></i> </a>
              </li>
              <li>
                <a href="#"> <i class="fas fa-ellipsis-v"></i> </a>
              </li>
            </ul>
          </div>

          <div class="chat-person-list">
            <ul class="list-inline">
              {% for friend in user_friends %}
                <li>
                  <a href="{% url "chatapp:friend" friend.profile.pk %}" class="flip">
                    <img src="{{friend.profile.pic.url}}" alt="" />
                    <span>{{friend.profile.name}}</span>
                    <span class="chat-time">{{friend.profile.pk}}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <!-- col-md-4 closed -->

      {% block chatbox %}{% endblock chatbox %}
    </div>
  </div>
</section>
{% endblock content %}
